<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- Head & css links -->
<head th:replace="~{fragments/headFragment::head-section}">
</head>
<body>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbarFragment::nav-section}"></nav>
        <!-- Sidebar -->
        <div th:replace="~{fragments/sidebarFragment::sidebar-section}"></div>
        <!-- Main Content -->
        <div th:replace="~{fragments/blankFragment::blank-section}"></div>
        <!-- Footer -->
        <footer th:replace="~{fragments/footerFragment::footer-section}"></footer>
        <!-- Js-links -->
        <div th:replace="~{fragments/footFragment::js-links}"></div>
    </div>
</div>
</body>
</html>