<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- Head & css links -->
<head th:replace="~{fragments/headFragment::head-section}">
    <title>Users</title>

</head>
</head>
<body>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbarFragment::nav-section}"></nav>
        <!-- Sidebar -->
        <div th:replace="~{fragments/sidebarFragment::sidebar-section}"></div>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>Users</h1>
                </div>
                <!--Success message-->
                <div th:if="${param.deleted}">
                    <div class="alert alert-success text-center" th:text="'Deleted'"></div>
                </div> <!--Username Exists Error-->
                <div class="card">

                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user:${users}">
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:if="${user.name == 'ROLE_ADMIN'}"
                                    th:text="'Admin'"></td>
                                <td th:if="${user.name == 'ROLE_USER'}"
                                    th:text="'User'"></td>
                                <td>
                                    <a type="button" class="btn btn-primary"
                                       data-toggle="tooltip" data-placement="top"
                                       title="Change Role"
                                       onclick="return confirm('Changing role of current user?!?')"
                                       th:href="@{/atm/user/changeRole/{id}(id=${user.id})}"
                                    >
                                        <i class="fa-solid fa-person-circle-plus"></i>
                                    </a>
                                    <a type="button" class="btn btn-danger"
                                       data-toggle="tooltip" data-placement="top"
                                       title="Delete"
                                       onclick="return confirm('Deleting current user?!')"
                                       th:href="@{/atm/user/delete/{id}(id=${user.id})}">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </a>
                                    <button type="button" class="btn btn-success" data-toggle="tooltip"
                                            data-placement="top" title="Transactions"
                                    > <!-- th:text="#{addrole}"-->
                                        <i class="fa-solid fa-money-check-dollar"></i>
                                    </button>

                                </td>

                            </tr>
                            </tbody>
                        </table>
                        <!-- Footer -->
                        <footer th:replace="~{fragments/footerFragment::footer-section}"></footer>
                        <!-- Js-links -->
                        <div th:replace="~{fragments/footFragment::js-links}"></div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
</body>
</html>