<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div th:fragment="js-links" >

    <!-- General JS Scripts -->
    <script th:src="@{/assets/modules/jquery.min.js}"></script>
    <script th:src="@{/assets/modules/popper.js}"></script>
    <script th:src="@{/assets/modules/tooltip.js}"></script>
    <script th:src="@{/assets/modules/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/modules/nicescroll/jquery.nicescroll.min.js}"></script>
    <script th:src="@{/assets/modules/moment.min.js}"></script>
    <script th:src="@{/assets/js/stisla.js}"></script>

    <!-- JS Libraies -->
    <script th:src="@{/assets/modules/jquery.sparkline.min.js}"></script>
    <script th:src="@{/assets/modules/chart.min.js}"></script>
    <script th:src="@{/assets/modules/owlcarousel2/dist/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/modules/summernote/summernote-bs4.js}"></script>
    <script th:src="@{/assets/modules/chocolat/dist/js/jquery.chocolat.min.js}"></script>

    <!-- Page Specific JS File -->
    <script th:src="@{/assets/js/page/index.js}"></script>

    <!-- Template JS File -->
    <script th:src="@{/assets/js/scripts.js}"></script>
    <script th:src="@{/assets/js/custom.js}"></script>
</div>
</html>